language: node_js
branches:
  only:
    - master
node_js:
 - "node"
install:
 - npm install
script:
  - npm run build
deploy:
  provider: surge
  project: ./public/
  domain: awesome-pokedex.surge.sh
  skip_cleanup: true